# Static staging defaults. Do not put private Admin API secrets here.
VELENE_SHOPIFY_DOMAIN=kt9eiv-hx.myshopify.com
VELENE_SHOPIFY_API_VERSION=2025-07
VELENE_SHOPIFY_STOREFRONT_TOKEN=1ca887a764afa08947b46d8fd50d5e8e
VELENE_META_PIXEL_ID=2021013312164721
